/* Variables */

:root {
  --primary-color: #F58D85;
  --secondary-color: #383A4F;
  --light-gray: #D7D7D7;
  --sans-serif: "Graphik", Helvetica, Arial, sans-serif;
  --serif: "Bitstream Cooper", Georgia, serif;
  --body-font-color: var(--secondary-color);
  --cursive: "Mali", cursive;
}

/* Layout */
body {
  background: white;
}

.welcome {
  background: url("../img/welcome-curve-sm.svg");
  background-position: 0% 120px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 1rem;
  text-align: center;
  display: block;
  box-sizing: border-box;
}

.welcome__video {
  margin-bottom: 1rem;
}

.welcome__video iframe {
  width: 100%;
  height: 350px;
}

.welcome__cta, .cta {
  padding: 0;
}

a.button {
  border-radius: 1.5rem;
  border: 2px solid var(--light-gray);
}

.cta__form input {
  padding: 1rem .5rem;
  font-size: 1rem;
  margin: 0;
}

.challenge,
.change,
.product-segue,
.collaborate {
  padding: 8rem 1rem;
  text-align: center;
}

.collaborate {
  padding-top: 0rem;
}

.final-cta__header {
  margin-bottom: 2rem;
}

.final-cta {
  padding: 12rem 1rem 9rem 1rem;
  text-align: center;
  background: url("../img/final-cta-bg-sm.svg");
  /* background-position: 0 0; */
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}

.member-wall {
  margin-bottom: 2rem;
}

.final-cta .cta p {
  color: white;
}

.happiness-dial {
  padding: 0rem 1rem 12rem 1rem;
  text-align: center;
  margin-top: -5rem;
}

.happy-folk {
  padding: 0 1rem 8rem 1rem;
  text-align: center;
}

.happy-folk__name {
  font-size: .778rem;
}

.happy-folk__place {
  font-size: .667rem;
}

.products__header,
.product__header,
.happy-folk__header {
  text-align: center;
}

.product__header {
  margin-bottom: 1.5rem;
}

.challenge {
  background: url("../img/ellipse.svg");
  background-size: cover;
  color: white;
  margin-top: -3rem;
  display: block;
  box-sizing: border-box;
  clip-path: ellipse(140% 100% at 50% 0%);
}

.challenge p.super, .challenge a.link--marker {
  color: white;
}

.challenge a.link--marker {
  border-bottom: 2px solid white;
}

.product-segue {
  background: url("../img/product-segue-bg-sm.svg");
  background-size: cover;
  padding: 10rem 1rem;
}

.products__header {
  margin: 8rem 0 3rem 0;
}

.product {
  margin-bottom: 8rem;
}

.product__content {
  padding: 0 1rem;
}

.product__header {
  padding: 0 1rem;
}

.product__header h3 {
  margin-top: 1rem;
}

.happy-folk__grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.happy-folk__item {
  padding: .5rem;
}

.happy-folk__headshot {
  width: 5.33rem;
  height: 5.33rem;
  border-radius: 25px;
}

.subscriber-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.subscriber-grid__item {
  width: 4rem;
  height: 4rem;

}

.happiness-dial {
}

/* Typography */
html {
  font-size: 18px;
  font-weight: 300;
}

a, p, h1, h2, h3, h4 { color: var(--secondary-color); }

a.link--marker {
  font-variant: small-caps;
  text-decoration: none;
  border-bottom: 2px solid var(--body-font-color);
  color: var(--body-font-color);
  font-size: 1.5rem;
  font-family: var(--cursive);
  font-weight: 500;
}

a.link--marker:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3.5rem;
  margin: 0 0 1rem 0;
  color: var(--secondary-color);
  font-family: var(--serif);
  font-weight: 300;
 }

h2 {
  font-family: var(--serif);
  font-size: 1.778rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
  color: var(--secondary-color);
}

h3 {
  margin: .25rem 0 .5rem 0;
  font-size: 1.333rem;
  font-weight: 300;
}

h4 {
  margin:.25rem 0 .25rem 0;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--sans-serif);
}

a {
  text-decoration: none;
  color: inherit;
}


i.emoji {
  font-size: 3.5rem;
  font-style: normal;
}

i.number {
  font-size: 1rem;
  font-style: normal;
  font-family: var(--serif);
  font-weight: 700;
  border-radius: 50%;
  border: 2px solid var(--light-gray);
  width: .25rem;
  height: .25rem;
  padding: .25rem .6rem;
  text-align: center;
}

i {
  font-family: var(--serif);
}

p {
  color: var(--secondary-color);
  font-family: var(--sans-serif);
  font-size: 1rem;
  margin-top: 0;
  line-height: 1.5;
}

p.lead {
  font-size: 1.222rem;
  font-weight: 300;
  line-height: 1.4;
}

p.super {
  font-size: 1.667rem;
  font-weight: 300;
  margin-bottom: .5rem;
}

strong {
  font-weight: 500;
}

/* Forms */

.cta__form {
  margin-bottom: 1rem;
}

input {
  border: none;
  background: none;
  color: var(--secondary-color);
}

.input-group {
  border-radius: 1.5rem;
  border: 2px solid var(--light-gray);
  background: white;
  display: grid;
}

.input-group input[type="email"] {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: var(--sans-serif);
  outline: none;
  padding: 1rem;
}

.input-group input[type="email"]:focus {
  border: none;
}

.input-group input[type="submit"] {
  background-color: none;
  font-family: var(--sans-serif);
  grid-column-start: 3;
  grid-column-end: 4;
  border-left: 2px solid var(--light-gray);
}

.input-group input[type="submit"]:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Images */

img {
  width: 100%;
  margin-bottom: 1rem;
}

figure.product-image__container {
  text-align: center;
  margin: 0;
}

img.product-image--full {
  width: 100%;
}

img.product-image {
  margin: 0 auto;
  max-height: 600px;
  width: auto;
}

@media (min-width: 880px) {
  .welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding: 2rem 2rem 4rem 2rem;
    background-image: url("../img/welcome-curve-md.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .welcome__header,
  .welcome__cta {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    text-align: left;
    margin: 0 auto;
  }
  .welcome__video {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    width: 100%;
  }
  .welcome__video iframe {
    width: 100%;
    height: 600px;
  }
  .challenge,
  .change,
  .product-segue,
  .collaborate {
    padding: 10rem 2rem;
  }

  .product-segue {
    background: url("../img/product-segue-bg-lg.svg");
    background-size: cover;
    padding: 13rem 1rem;
  }

  .challenge__content,
  .change__content,
  .product-segue__content,
  .collaborate__content,
  .product__header--one,
  .cta.product__content {
    width: 50%;
    margin: 0 auto;
  }

  .happy-folk {
    padding: 2rem;
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }

  .collaborate { padding-top: 2rem; }

  .final-cta__content,
  .happiness-dial {
    width: 50%;
    margin: -2rem auto;
  }

  .final-cta {
    background: url("../img/final-cta-bg-md.svg");
    background-size: cover;
    padding: 16rem 1rem 12rem 1rem;
  }
}

@media (min-width: 800px) {
  .product--half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 80vh;
    align-items: center;
    grid-auto-flow: column;
  }
  .product__header--half {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .product-image__container {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .product__header--half--odd {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .product-image__container--odd {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  img.product-image--full {
    max-height: 750px;
    width: 100%;
  }
}
